header{
    position: relative;
}

header i {
    position: absolute;
    top: 20px;
    left: 20px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: black;
}

li {
    float: left;
}
  
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
  
li a:hover {
    background-color: #111;
}

form {
    font-size: 20px;
    color: white;
    background-color: black;
    align-content: center;
    top: 50%;
    left: 50%;
    right: 50%;
    bottom: 50%;
    
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;
}